<app-menu></app-menu>

<div class="center-wrapper">
  <div class="container-flex window">
    <div class="row">
      <div class="col-sm">
        {{ debugSig() }}

        <form #myForm="ngForm" (submit)="onSubmit($event)">
          <div class="form-group">
            <label for="tipoViolencia">Qual foi o tipo de violência sofrida?</label>
            <select class="custom-select" required [(ngModel)]="model.tipoViolencia" name="tipoViolencia">
              @for (tipo of tiposViolencia | keyvalue; track tipo.key) {
                <option [value]="tipo.key">{{ tipo.value }}</option>
              }
            </select>
          </div>

          <div class="form-group">
            <label>Data da ocorrência:</label>
            <input class="form-control" type="date" name="dataOcorrencia"
              [(ngModel)]="model.dataOcorrencia"/>
          </div>

          <div class="form-group">
            <label for="horarioOcorrencia">Horário da ocorrência:</label>
            <select class="custom-select" required [(ngModel)]="model.horarioOcorrencia" name="horarioOcorrencia">
              @for (entry of horariosOcorrencia | keyvalue; track entry.key) {
                <option [value]="entry.key">{{ entry.value }}</option>
              }
            </select>
          </div>

          <div class="form-group">
            <label for="pontoReferencia">Ponto de referência</label>
            <textarea class="form-control" required [(ngModel)]="model.pontoReferencia" name="pontoReferencia"></textarea>
          </div>

          <div class="form-group">
            <label for="local">Nome do local selecionado</label>
            <input class="form-control" type="text" rows="1" name="nomeLocal" [(ngModel)]="model.nomeLocal"/>
          </div>

          <!-- OBS: Adição do campo Coordenadas -->
          <div class="form-group">
            <label>Coordenadas</label>
            <input
              class="form-control"
              [value]="displayCoords()"
              readonly>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
      <div class="col-sm">
        <app-map id="map"
          (localSelecionado)="receberLocal($event)"
          (nomeLocalCarregado)="carregarNomeLocal($event)">
        </app-map>
      </div>
    </div>
  </div>
</div>
<app-rodape></app-rodape>
