@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.pagina-proposito {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: #EFECFC; 
  width: 100%;
}


.secao-topo-roxo {
 
  background: linear-gradient(90deg, #0D0221 10%, #1A0B42 70%, #2A145E 100%);
  color: #ffffff;
  width: 100%;
  padding: 60px 20px; 
  display: flex;
  justify-content: center;
}

.conteudo-centralizado {
  max-width: 900px;
  text-align: center;
}


.titulo-proposito {
  font-size: 60px; 
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 0; 
  color: white;
}


.texto-proposito {
  font-size: 21px;
  color: rgb(190, 178, 178);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 0; 
}


.secao-inferior-branca {
  background-color: #EFECFC; 
  width: 100%;
  padding: 40px 20px 80px 20px;
  display: flex;
  justify-content: center;
}

.container-linhas {
  max-width: 950px;
  width: 100%;
}


.linha-informativa {
  display: flex;
  align-items: center;
  padding: 35px 0;
  border-bottom: 1.5px solid rgb(56, 30, 71); 
}


.linha-informativa:last-child {
  border-bottom: none;
}


.bloco-texto {
  flex: 1;
  padding-left: 20px;
}

.titulo-item {
  color: rgb(56, 30, 71);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.texto-item {
  color: rgb(145, 135, 135); 
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}



.bloco-icone {
  flex: 0 0 100px; 
  height: 100px;    
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone-tela {
  max-width: 85px !important;  
  max-height: 85px !important; 
  width: auto !important;
  height: auto !important;
}


@media (max-width: 768px) {
  .titulo-proposito {
    font-size: 36px; 
  }

  .texto-proposito {
    width: auto;
    font-size: 16px; 
  }

  .linha-informativa {
    flex-direction: column; 
    text-align: center;
    padding: 25px 0;
  }
  
  .bloco-texto {
    padding-left: 0;
    margin-top: 15px;
  }