.flexbox {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 45vh;
    background-color: rgb(56, 30, 71);
    color: #fff;
}

.titulo h1 {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    margin-bottom: 30px;
}

.titulo p {
    font-size: 21px;
    width: 65ch;
    color: rgb(190, 178, 178);
    font-family: Arial, Helvetica, sans-serif;
}

.denuncie {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 30px;
    font-weight: 800;
    color: rgb(56, 30, 71);
    background-color: rgb(255, 191, 82);
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-right: 20px;

    cursor: pointer;
}

.contatos-oficiais {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(156, 120, 156);
    background: transparent;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.topico {
    margin-top: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

.topico h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    color: rgb(56, 30, 71);
}

.topico p {
    margin-top: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70vh;
    color: rgb(145, 135, 135);
}

.tutorial {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.ordem {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgba(190, 178, 178, 0.554);
    font-weight: 800;
    margin-right: 20px;   
}

.tutorial h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: rgb(56, 30, 71);
}

.boxes {
    width: 300px;
    margin-right: 30px;
    border: 1px solid rgb(210, 205, 205);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.108) 0px 5px 15px;
}

.boxes span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgba(190, 178, 178, 0.554);
    font-weight: 800;
    margin-right: 20px;   
}

.boxes p {
    color: rgb(143, 136, 136);
}

.contatos {
    margin-top: 4rem;
}

.cards {
    width: 300px;
    margin-right: 30px;
    border: 1px solid rgb(210, 205, 205);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.108) 0px 5px 15px;
    padding: 20px;
}

.cards h6 {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(161, 47, 47, 0.288);
    color: rgb(175, 33, 33);
    border-radius: 15px;

    width: 120px;
    height: 30px;

    margin-bottom: 20px;
}

.cards h5 {
    color:rgb(0, 0, 0)
}

.cards span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    color: rgb(175, 33, 33);
    font-size: 40px;
}

.cards p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(143, 136, 136);
}


