.pFundo_1 {
  background:
  linear-gradient(
    90deg,
    #0D0221 10%,
    #1A0B42 70%,
    #2A145E 100%
  );
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.lado_esquerdo {
  position: relative;
  z-index: 2;
  padding: 10%;
}

.lado_esquerdo h1 {
  color: white;
  margin-top: 8%;
  font-size: 45px;
}

.lado_esquerdo p {
  color: white;
  font-size: 17px;
}

.texto_destaque {
  color: #a855f7;
  font-weight: bold;
}

.botao_denuncie {
  background-color: #6d1283;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.botao_denuncie:hover {
  background-color: #a855f7;
  color: white;
}

.lado_direito {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.img_1 {
  height: 100%;
  width: 50%;
} 

.pFundo_2 {
  background-color: #EFECFC;
  height: 700px;
}

.secao_apoio {
  position: relative;
  top: 30px; /* desce tudo dentro dele */
}

.titulo_secao {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgb(56, 30, 71);
  font-weight: bold;
}

.descricao_secao {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(145, 135, 135);
}

.cards_grupo_1{
  display: flex;
  gap: 80px;
  justify-content: center;
  position: relative;
  top: 30px; 
}

.card_apoio{
  display: flex;
  gap: 15px;   
  width: 260px;
  height: 130px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: white;
  flex-direction: row;
}

.card_apoio img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
  margin-top: 20px;
}

.texto_apoio h1 {
  font-weight: bold;
  font-size: 12px;
  margin: 25px 0 8px;
  color: rgb(56, 30, 71);
  font-family: Arial, Helvetica, sans-serif;
}

.texto_apoio p {
  font-size: 10px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(145, 135, 135);
}

.secao_tipos_violencia {
  position: relative;
  top: 150px;
}

.cards_grupo_2{
  display: flex;
  gap: 30px;
  justify-content: center;
  position: relative;
  top: 30px; 
}

.card_violencia{
  gap: 15px;   
  width: 200px;
  height: 200px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_violencia img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
  margin-top: 20px;
}

.texto_violencia h1 {
  font-size: 12px;
  margin: 2px 0 8px;
  color: rgb(56, 30, 71);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}

.texto_violencia p {
  font-size: 10px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(145, 135, 135);
  text-align: center;
}

.circulo_externo {
  width: 70px;
  height: 70px;
  border: 4px solid #381E47;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo_interno {
  width: 50px;
  height: 50px;
  background-color: #381E47;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}